{% extends "base.html" %}
{% load static %}
{% load mathfilters %}
{% load humanize %}
{% block content%}
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="commentModalLabel">Комментарий к заказу</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                <div class="mb-3">
                  <textarea class="form-control" id="commentBodyTextarea" rows="3"></textarea>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            <button type="button" id="saveBtn" onclick="saveComment(event)" class="btn btn-primary">Сохранить</button>
          </div>
      </div>
  </div>
</div>

<main class="pt-5">
  <div class="container">
    <h1 class="h5">Корзина</h1>

    <hr>

    {% for item in cart %}
    {% with product=item.product %}  
    
    
    <br>

    <div class="row mb-4 border product-item">
      <div class="col-md-3 col-lg-2 order-md-first">
        <a href="{{product.get_absolute_url}}">
        <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{{product.picture}}">
        </a>  
      </div>

      <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
        <a href="{{product.get_absolute_url}}" class="text-decoration-none">
          <h1 class="h5 pt-2">{{product.name}}</h1>
        </a>

        <div class="border">
          <div class="col border-bottom">
            <div class="row p-3">
              <div class="col-6">Продавец: {{product.seller}}</div>
                <div class="col-6 text-end">
                    {% comment %} <span class="text-decoration-line-through fw-bold text-danger">$ {{product.price|mul:item.qty}}</span> {% endcomment %}
                    {% comment %} <span class="h6 fw-bold">$ {{product.get_discounted_price|mul:item.qty}}</span>
                    {% else%}
                    <span class="h6 fw-bold">$ {{product.price|mul:item.qty}}</span> {% endcomment %}

                    {% if item.quantity > 1 %}
                    <span class="product_qty{{product.id}} h6 fw-bold">({{product.price}} x {{item.quantity}}) = {{product.price|mul:item.quantity}}</span>
                    {%else%}
                    <span class="product_qty{{product.id}} h6 fw-bold">{{product.price}}</span>
                    {%endif%}
                  </div>
              </div>
            </div>

          <div class="col">
            <div class="row p-3">
              <div class="col-12">
                <label for="select">Количество:</label>
                &nbsp;
                <div class="d-flex mb-3">
                  <div>
                      <select id="select{{product.id}}" onchange="changeSelect(event, {{product.id}}, {{item.quantity}})" class="form-select" data-index="{{product.id}}" aria-describedby="upd_button">
                        <option selected>{{item.quantity}}</option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                      </select>
                  </div>
                </div>
                <div>
                  <button class="btn btn-outline-primary mb-2" onclick="addComment(event, {{product.id}})" data-bs-toggle="modal" data-bs-target="#commentModal">Комментарий:</button>
                  <p id="comment" data-index="{{product.id}}">{{item.comment}}</p>
                </div>
                <br>
                <br>
                &nbsp;
                <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-outline-danger delete-button" data-index="{{product.id}}">
                  Удалить
                </button>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endwith %}
    {%empty%}
      <h5 class="text-center">Корзина пуста</h5>  
    {% endfor %}
    
    {% if cart %}
    <div class="col-12 text-end">
      <div class="h6 fw-bold">
        Итого:
        <div id="total" class="d-inline-flex">
          {{ cart.get_total_price|intcomma }}
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-outline-danger mt-2" id="clear-button">Очистить корзину</button>  
        <a class="btn btn-outline-success text-decoration-none mt-2" href="{% url 'delivery_approve' %}">Оформить заказ</a>
      </div>
    </div>
    {%endif%}
  </div>

  <br />
  <br />
</main>

{% endblock %}

{% block script %}
<script src={% static "js/cart.js" %}></script>
<script>
$(document).on('click', '#clear-button', function(e){
       e.preventDefault();
       $.ajax({
         type: 'POST',
         url: '{% url "cart_clear" %}',
         data: {
             command: 'cart_clear',
             csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post',
         },
         success: function(response){
             console.log(response);
             location.reload();
         },
         error: function(error, status){
             console.log(error);
        }
   })
  });  
  $(document).on('click', '.delete-button', function(e){
    e.preventDefault();

    $.ajax({
        type: 'POST',
        url: '{% url "cart_delete" %}',
        data: {
            product_id: $(this).data('index'),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function(response){
            document.getElementById('cartCount').textContent = response.cart_qty
            document.getElementById('total').textContent = response.cart_total
            console.log(response.cart_qty)
            location.reload()
        },
        error: function(error, status){
            console.log(error)
        }
    })
}); 



</script>
 {% endblock %}