{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center row"> 
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header">
                        <a class="navbar-brand" href="{% url 'home_page' %}"> My-Shop</a>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h1>Login</h1>
                        </div>
                        <form action="{% url 'login' %}?next={{request.GET.next}}" method="POST">
                            {% csrf_token %}
                            {% if has_error %}
                                <p>Invalid username or password</p>
                            {%endif%}
                            <div class="input-group mb-3">
                                <span for="username" class="input-group-text" style="width: 100px;">Username</span>
                                <input type="text" name="username" id="username" class="form-control" autocomplete="off">                        
                            </div>
                            <div class="input-group mb-3">
                                <span for="password" class="input-group-text" style="width: 100px;">Password</span>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>