<footer>
    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-6">
            <h4>Информация</h4>
            <ul class="list-unstyled">
              <li><a href="">Главная</a></li>
              <li><a href="">О магазине</a></li>
              <li><a href="">Оплата и доставка</a></li>
              <li><a href="">Контакты</a></li>
            </ul>
          </div>

          <div class="col-md-3 col-6">
            <h4>Время работы</h4>
            <ul class="list-unstyled">
              <li>г. Уральск ул. Достык 41</li>
              <li>9:00 - 18:00</li>
              <li>Без перерыва</li>
            </ul>
          </div>

          <div class="col-md-3 col-6">
            <h4>Контакты</h4>
            <ul class="list-unstyled">
              <li><a href="tel:87777333333">8 (777) 733 33 33</a></li>
              <li><a href="tel:87777333334">8 (777) 733 33 34</a></li>
              <li><a href="tel:87777333335">8 (777) 733 33 35</a></li>
            </ul>
          </div>

          <div class="col-md-3 col-6">
            <h4>МЫ в сети</h4>
            <div class="footer-icons">
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-youtube"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
</footer>