
<div class="container my-3">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-lg-6">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    {{title_text}}
                </div>     
                <div class="p-2">
                    {% if not fields_only%}
                        <form action="{{action_url}}?next={{request.GET.next}}" method="{{form_method}}" enctype="multipart/form-data">
                        {%csrf_token%}
                    {%endif%}
                            {% for error in form.non_field_errors %}
                            <p class="text-danger">{{error}} </p>
                            {%endfor%}

                            {% for field in form %}
                            {{field.label}}
                            {{field}}
                            {% for error in field.errors %}
                            <p class="text-danger">{{error}} </p>
                            {% endfor %}

                            {%endfor%}
                    {% if not fields_only%}
                            <button type="submit" class="btn btn-primary my-3">{{button_text|default:"Обновить"}}</button>
                        </form>
                    {%endif%}
                </div>  
            </div>
        </div>
    </div>
    
</div>