{% comment %} {% load static %}
<div class="modal fade" id="modal-cart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-secondary text-white">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Корзина</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">ID</th>
                <td></td>
                <td>Продукт</td>
                <td>Цена</td>
                <td>Количество</td>
              </tr>
              {% for item in cart %}
              <tr>        
                <th scope="row">{{item.product.id}}</th>
                <td><img src="{{item.product.picture}}" alt="product1"></td>
                <td><a href="{% url 'product_details' item.product.id %}">{{item.product.name}}</a></td>
                <td>{{item.price}}</td>
                <td>{{item.quontity}}</td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
          <p class="total-price">Итого: {{total}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Вернуться</button>
          <button type="button" class="btn btn-primary">Оформить заказ</button>
        </div>
      </div>
    </div>
</div> {% endcomment %}