<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home_page'%}">My-Shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home_page' %}">Категории</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'product_list_all' %}">Продукты</a>
          </li>

          <li class="nav-item">
            {%if perms.my_shop.add_product and request.user.profile.is_approved%}
            <a class="nav-link" href="{% url 'product_create' %}">Добавить продукт</a>
            {%endif%}
          </li>
          <li class="nav-item">
            {%if perms.my_shop.add_category%}
            <a class="nav-link" href="{% url 'category_create' %}">Добавить категорию</a>
            {%endif%}
          </li>
        </ul>
        <div class="menu-links">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'favorite_list' %}"><i class="fa-solid fa-heart" style="font-size: 18px;"></i></a>
            </li>
            <li class="nav-item dropdown">
              {%if not request.user.profile.is_approved and request.user.is_authenticated %}
              <a class="nav-link dropdown-toggle d-flex-d" data-bs-toggle="dropdown" href="#"><i class="fa-solid fa-user" style="font-size: 18px;"></i>
                (Не подтвержден) {{request.user.username}}</a>
              {%else%}
              <a class="nav-link dropdown-toggle d-flex-d" data-bs-toggle="dropdown" href="#"><i class="fa-solid fa-user" style="font-size: 18px;"></i>
                {{request.user.username}}</a>
              {%endif%}
                <ul class="dropdown-menu">
                  {% if not request.user.is_authenticated %}
                  <li><a class="dropdown-item" href="{% url 'register' 0 %}?next={{request.get_full_path}}">Регистрация Клиента</a></li>
                  <li><a class="dropdown-item" href="{% url 'register' 1 %}?next={{request.get_full_path}}">Регистрация Продавца</a></li>
                  <li><a class="dropdown-item" href="{% url 'login' %}?next={{request.get_full_path}}">Вход</a></li>
                  {%else%}
                  <li><a class="dropdown-item" href="{% url 'user_detail' %}">Кабинет</a></li>
                  <li><a class="dropdown-item" href="{% url 'logout' %}?next={{request.get_full_path}}">Выход</a></li>
                  {%endif%}
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cart_view' %}">
                  <i class="fa-solid fa-cart-shopping position-relative" style="font-size: 18px;"> Корзина
                      {%with cart_qty=cart|length%}
                        {% if cart_qty > 0 %}
                        <span id="cartCount" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                          {{cart_qty}}
                        </span>
                        {%else%}
                        <span id="cartCount" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger invisible">
                          {{cart_qty}}
                        </span>
                        {%endif%}
                      {%endwith%}
                  </i>
                  
                </a>
                <!-- <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#modal-cart">
                  <i class="fa-solid fa-cart-shopping"></i>
                </a> -->
                <!-- _______Modal-cart_____ -->
                <!-- {% include 'partials/modal_cart.html' %} -->
                <!-- __________Modal-cart________ -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href=""><i class="fa-solid fa-magnifying-glass" style="font-size: 18px;"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>