<nav aria-label="Page navigation">
    {% if page_obj.paginator.num_pages > 1 %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Назад</a></li>
        {% else %}
      <li class="page-item disabled"><a class="page-link">Назад</a></li>
        {% endif %}
        {% for page in page_obj.paginator %}
      <li class="page-item"><a class="page-link" href="?page={{page.number}}">{{page.number}}</a></li>
        {%endfor%}
        {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперед</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link">Вперед</a></li>
        {% endif %}
    </ul>
    {% endif %}
</nav>