<nav aria-label="Page navigation">
    {% if page_obj.paginator.num_pages > 1 %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?search={{ request.GET.search}}&page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% else %}
      <li class="page-item disabled"><a class="page-link">Previous</a></li>
        {% endif %}
        {% for page in page_obj.paginator %}
      <li class="page-item"><a class="page-link" href="?search={{ request.GET.search}}&page={{page.number}}">{{page.number}}</a></li>
        {%endfor%}
        {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?search={{ request.GET.search}}&page={{ page_obj.next_page_number }}">Next</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link">Next</a></li>
        {% endif %}
    </ul>
    {% endif %}
</nav>