{% extends 'base.html' %}
{% load static %}
{% block title %}
<h1 class="text-center">{{title}} {{ user_obj.get_full_name|default:user_obj.username }}</h1>
{% endblock %}
{% block content %}
<div class="row mx-5">
    <div class="col-md-3">
        <div>
            {% if user_obj.profile.avatar %}
            <img src="{{user_obj.profile.avatar.url}}" style="height: 200px;" alt="">
            {%else%}
            <img src="{% static 'img/avatar.png' %}" style="height: 200px;" alt="">
            {%endif%}
        </div>
    </div> 
    <div class="col-md-6 ms-3">
        <p>Логин: {{user_obj.username}}</p>
        <p>Имя: {{user_obj.first_name}}</p>
        <p>Фамилия: {{user_obj.last_name}}</p>
        <p>Email: {{user_obj.email}}</p>
        <p>Телефон: {{user_obj.profile.phone}}</p>
        <a href="{% url 'user_edit' %}"class="btn btn-secondary">Изменить профиль</a>
        <a href="{% url 'password_change' %}"class="btn btn-secondary ms-4">Сменить пароль</a>
        <a href="{% url 'delivery_edit' %}"class="btn btn-secondary ms-4">Изменить адрес доставки</a>
    </div>
</div>




<h2 class="text-center mt-3" id="title">Ордера:</h2>
<div class="card m-3 pt-2">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="orders" aria-current="page" href="#">Ордера</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="buyers" href="">Клиенты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="admins" href="">Администраторы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="sellers" href="">Продавцы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pending" href="">Продавцы Ожидающие подтверждения</a>
      </li>
    </ul>
    <div class="modal-body m-2">
        <table class="table">
          <tbody>
            <tr>
              <td><h5>Ордер №</h5></td>
              <td></td>
              <td><h5>Продукт</h5></td>
              <td><h5>Количество (шт)</h5></td>
              <td><h5>Цена</h5></td>
              <td><h5>Статус</h5></td>
              <td><h5>Продавец</h5></td>
              <td><h5>Клиент</h5></td>
              <td></td>
            </tr>
            {% for orderItem in order_items %}
            <tr>
              <td><h5>{{orderItem.id}}</h5></td>     
              <td><img src="{{orderItem.product.picture}}" alt="product1"></td>
              <td><a href="{% url 'product_details' orderItem.product.pk %}">{{orderItem.product.name}}</a></td>
              <td>{{orderItem.quontity}}</td>
              <td>{{orderItem.total_price}}</td>
              <td>{{orderItem.status.status}}</td>
              <td>{{orderItem.seller.username}}</td>
              <td>{{orderItem.order.buyer.username}}</td>
              <td>
                <button class="btn btn-outline-secondary comment-btn" onclick="commentShow(event,'{{orderItem.product.name}}', '{{orderItem.id}}')" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                  Комментарии
                </button>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header bg-secondary text-white">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Product name</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

  </div>
  <div class="add-comment m-2">
    <textarea class="form-control" id="commentTextarea" rows="3"></textarea>
    <button class="btn btn-outline-success mt-2" onclick="addComment(event)" id="addComment-btn">Отправить</button>
  </div>
  
</div>

{% endblock %}

{% block script %}
<script>
  
  $(document).on('click', '#buyers', function(e){
    e.preventDefault();
    $('.nav-link').removeClass('active');
    $(this).addClass('active');
    $('#title').text('Клиенты:')
    $('.modal-body').empty();
    let table = '<table class="table" id="tableBuyer">'+
      '<tbody>'+
        '<tr>'+
          '<td><h5>ID</h5></td>'+
          '<td></td>'+
          '<td><h5>Логин</h5></td>'+
          '<td><h5>Фамилия</h5></td>'+
          '<td><h5>Имя</h5></td>'+
          '<td><h5>Телефон</h5></td>'+
          '<td><h5>Email</h5></td>'+
        '</tr>'+
      '</tbody>'+
    '</table>';
    $('.modal-body').append(table);
    loadUsers('/api/profiles/buyers/');
  });

  function loadUsers(url){
    fetch(url)
    .then(response => {
      return response.json();
    })
    .then(profiles_data =>{
      for (profile_obj of profiles_data){
        let avatar_url='';
        if (profile_obj.avatar){
          avatar_url = profile_obj.avatar;
        }else{
          avatar_url ='/static/img/avatar.png';
        }
        let pending = '';
        if (url=='/api/profiles/sellers/?is_approved=False'){
            pending = '<td>'+
                        '<button class="btn btn-outline-secondary approve-btn" onclick="approveSeller(event,'+profile_obj.id+')" type="button">'+
                          'Подтвердить'+
                        '</button>'+
                      '</td>';
        };
        let tableItem = '<tr id="profile'+profile_obj.id+'">'+
          '<td>'+profile_obj.user.id+'</td>'+
          '<td><img src="'+avatar_url+'" alt="avatar"></td>'+
          '<td>'+profile_obj.user.username+'</td>'+
          '<td>'+profile_obj.user.last_name+'</td>'+
          '<td>'+profile_obj.user.first_name+'</td>'+
          '<td>'+profile_obj.phone+'</td>'+
          '<td>'+profile_obj.user.email+'</td>'+
          pending+
        '</tr>'; 
        $('.table').append(tableItem); 
      };
    })
    .catch (error => {
      console.log(error);
    });
  };

  $(document).on('click', '#admins', function(e){
    e.preventDefault();
    console.log('admins');
    $('.nav-link').removeClass('active');
    $(this).addClass('active');
    $('#title').text('Администраторы:')
    $('.modal-body').empty();
    let table = '<table class="table" id="tableAdmins">'+
      '<tbody>'+
        '<tr>'+
          '<td><h5>ID</h5></td>'+
          '<td></td>'+
          '<td><h5>Логин</h5></td>'+
          '<td><h5>Фамилия</h5></td>'+
          '<td><h5>Имя</h5></td>'+
          '<td><h5>Телефон</h5></td>'+
          '<td><h5>Email</h5></td>'+
        '</tr>'+
      '</tbody>'+
    '</table>';
    $('.modal-body').append(table);
    loadUsers('/api/profiles/admins/')
  });

  $(document).on('click', '#sellers', function(e){
    e.preventDefault();
    console.log('sellers');
    $('.nav-link').removeClass('active');
    $(this).addClass('active');
    $('#title').text('Продавцы:')
    $('.modal-body').empty();
    let table = '<table class="table" id="tableSellers">'+
      '<tbody>'+
        '<tr>'+
          '<td><h5>ID</h5></td>'+
          '<td></td>'+
          '<td><h5>Логин</h5></td>'+
          '<td><h5>Фамилия</h5></td>'+
          '<td><h5>Имя</h5></td>'+
          '<td><h5>Телефон</h5></td>'+
          '<td><h5>Email</h5></td>'+
        '</tr>'+
      '</tbody>'+
    '</table>';
    $('.modal-body').append(table);
    loadUsers('/api/profiles/sellers/?is_approved=True')
  });

  $(document).on('click', '#pending', function(e){
    e.preventDefault();
    console.log('pending');
    $('.nav-link').removeClass('active');
    $(this).addClass('active');
    $('#title').text('Продавцы Ожидающие подтверждения:')
    $('.modal-body').empty();
    let table = '<table class="table" id="tablePending">'+
      '<tbody>'+
        '<tr>'+
          '<td><h5>ID</h5></td>'+
          '<td></td>'+
          '<td><h5>Логин</h5></td>'+
          '<td><h5>Фамилия</h5></td>'+
          '<td><h5>Имя</h5></td>'+
          '<td><h5>Телефон</h5></td>'+
          '<td><h5>Email</h5></td>'+
          '<td></td>'+
        '</tr>'+
      '</tbody>'+
    '</table>';
    $('.modal-body').append(table);
    loadUsers('/api/profiles/sellers/?is_approved=False')
  });

  $(document).on('click', '#orders', function(e){
    e.preventDefault();
    console.log('products');
    location.reload();
  });

  async function commentShow(event, productName, orderItemId){
    event.preventDefault();
    $('#commentTextarea').val('');
    $('.offcanvas-body').empty();
    $('#offcanvasRightLabel').text(productName)
    $('#addComment-btn').data('id', orderItemId);
    try{
      const responseC = await fetch('/api/comments/?order_item='+orderItemId);
      const comments = await responseC.json();
          comments.sort((a, b) =>
            new Date(a.created_at) - new Date(b.created_at));
          for(const comm of comments){
            try{
              const responseU = await fetch('/api/users/'+comm.user);
              const user_obj = await responseU.json();
              console.log(user_obj);
              insertCommentHtml(user_obj, comm);
            } catch (error){
              console.log(error);
            }
          };
    }catch (error){
      console.log(error);
    };
  }; 

  function insertCommentHtml(user, comment){
    let alignItems;
    createdDate = formatDateTime(comment.created_at);
    if (user.id=='{{user.id}}'){
      alignItems='align-items-end';
    }else{
      alignItems='align-items-start';
    }
    let html = '<div class="d-flex '+alignItems+' flex-column">'+
      '<div class="card mb-2" style="width: 18rem;">'+
        '<div class="card-body">'+
          '<h5 class="card-title username">'+user.username+'</h5>'+
          '<h6 class="card-subtitle mb-2 text-body-secondary">'+createdDate+'</h6>'+
          '<p class="card-text">'+comment.text+'</p>'+
        '</div>'+
      '</div>'+
    '</div>';
    $('.offcanvas-body').append(html);
  }

  function addComment(event){
    event.preventDefault();
    let text = $('#commentTextarea').val();
    let button = event.target;
    orderItemId = $(button).data('id');
    $.ajax({
      type: 'POST',
      url: '/api/comments/',
      data:{
        user: '{{user.id}}',
        text: $('#commentTextarea').val(),
        order_item: orderItemId,
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      dataType: 'json',
      success: function(newComment){
        $.ajax({
          type: 'GET',
          url: '/api/users/'+newComment.user,
          success: function(user_obj){
            insertCommentHtml(user_obj, newComment);
          },
          error: function(error){
            console.log(error);
          }
        });
        $('#commentTextarea').val('');
      },
      error: function(error){
        console.log(error)
      }
    });
  };


function formatDateTime(dateTime){
  let dateObject = new Date(dateTime);
  let formattedDate = dateObject.getDate()+'-'+
  ('0'+(dateObject.getMonth()+1)).slice(-2)+'-'+
  dateObject.getFullYear()+' '+
  dateObject.getHours()+':'+
  ('0'+dateObject.getMinutes()).slice(-2);
  return formattedDate
}

function approveSeller(event, profileId){
  event.preventDefault();
  let data = {is_approved: 1}
  fetch('/api/profiles/approve/'+profileId+'/', {
    headers: {
      "X-CSRFToken": '{{ csrf_token }}',
      "Content-Type": "application/json"
    },
    method: 'PATCH',
    credentials: "same-origin",
    body: JSON.stringify(data)
  }).then(res => res.json())
  .then(data => {
    console.log(data.id);
    $('#profile'+data.id).remove();
  })
};
</script>
{% endblock %}

