{% extends 'base.html' %}
{% load static %}
{% block title %}
<h1 class="text-center">{{title}} {{ user_obj.get_full_name|default:user_obj.username }}</h1>
{% endblock %}
{% block content %}
<div class="row mx-5">
    <div class="col-md-3">
        <div>
            {% if user_obj.profile.avatar %}
            <img src="{{user_obj.profile.avatar.url}}" style="height: 200px;" alt="">
            {%else%}
            <img src="{% static 'img/avatar.png' %}" style="height: 200px;" alt="">
            {%endif%}
        </div>
    </div> 
    <div class="col-md-6 ms-3">
        <p>Логин: {{user_obj.username}}</p>
        <p>Имя: {{user_obj.first_name}}</p>
        <p>Фамилия: {{user_obj.last_name}}</p>
        <p>Email: {{user_obj.email}}</p>
        <p>Телефон: {{user_obj.profile.phone}}</p>
        <a href="{% url 'user_edit' %}"class="btn btn-secondary">Изменить профиль</a>
        <a href="{% url 'password_change' %}"class="btn btn-secondary ms-4">Сменить пароль</a>
        <a href="{% url 'delivery_edit' %}"class="btn btn-secondary ms-4">Изменить адрес доставки</a>
    </div>
</div>




<h2 class="text-center mt-3" id="title">Товары в продаже:</h2>
<div class="card m-3 pt-2">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="products" aria-current="page" href="#">Товары в продаже</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="openOrders" href="">Открытые ордера</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="closedOrders" href="">Закрытые ордера</a>
      </li>
    </ul>
    <div class="modal-body m-2">
        <table class="table">
          <tbody>
            <tr>
              <td></td>
              <td><h5>Продукт</h5></td>
              <td><h5>В продаже (шт)</h5></td>
              <td><h5>Цена</h5></td>
              <td></td>
            </tr>
            {% for product in user_obj.products.all %}
            <tr>        
              <td><img src="{{product.picture}}" alt="product1"></td>
              <td><a href="{% url 'product_details' product.pk %}">{{product.name}}</a></td>
              <td>{{product.quontity}}</td>
              <td>{{product.price}}</td>
              <td>
                <a class="ms-3" href="{% url 'product_update' product.pk %}?next={{request.get_full_path}}"><i class="fa-solid fa-pen-to-square" style="font-size: 26px;"></i></a>
                <a class="ms-3" href="{% url 'product_delete' product.pk %}?next={{request.get_full_path}}"><i class="fa-solid fa-trash" style="font-size: 26px;"></i></a>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header bg-secondary text-white">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Product name</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

  </div>
  <div class="add-comment m-2">
    <textarea class="form-control" id="commentTextarea" rows="3"></textarea>
    <button class="btn btn-outline-success mt-2" onclick="addComment(event)" id="addComment-btn">Отправить</button>
  </div>
  
</div>

{% endblock %}

{% block script %}
<script>
  
  $(document).on('click', '#openOrders', function(e){
    e.preventDefault();
    $('.nav-link').removeClass('active');
    $(this).addClass('active');
    $('#title').text('Открытые Ордера:')
    $('.modal-body').empty();
    let table = '<table class="table" id="tableOrder">'+
      '<tbody>'+
        '<tr>'+
          '<td><h5>Ордер №</h5></td>'+
          '<td></td>'+
          '<td><h5>Продукт</h5></td>'+
          '<td><h5>Количество (шт)</h5></td>'+
          '<td><h5>Цена</h5></td>'+
          '<td><h5>Статус</h5></td>'+
          '<td><h5>Клиент</h5></td>'+
          '<td></td>'+
        '</tr>'+
      '</tbody>'+
    '</table>';
    $('.modal-body').append(table);
    loadOpenOrdders();
  });

  async function loadOpenOrdders(){
    try{
      const response = await fetch('/api/order_items/?seller='+'{{user.id}}');
      const orderItems = await response.json();
      for(orderItem of orderItems){
        try{
          const response = await fetch('/api/products/'+orderItem.product);
          const product = await response.json();
          try{
            const response = await fetch('/api/order/'+orderItem.order);
            const order = await response.json();
            try{
              const response = await fetch('/api/users/'+order.buyer);
              const buyer = await response.json();
              try{
                const response = await fetch('/api/status/order_items/');
                const statuses = await response.json();
                let selectHTML = '<select class="form-select select" onchange="changeSelect(event,'+orderItem.id+')">';
                let optionSelectHTML=''
                if (orderItem.status < 3){
                  for(const status of statuses){
                    if (status.id == orderItem.status){
                      optionSelectHTML = '<option value="'+status.id+'" selected>'+status.status+'</option>';
                    } else{
                      optionSelectHTML = '<option value="'+status.id+'">'+status.status+'</option>';
                    }
                    selectHTML = selectHTML + optionSelectHTML;
                  }
                  let commentShow ="commentShow(event,'"+product.name+"', "+orderItem.id+")";
                  let tableItem = '<tr id="orderItem'+orderItem.id+'">'+
                  '<td>#'+orderItem.id+'</td>'+
                  '<td><img src="'+product.picture+'" alt="product1"></td>'+
                  '<td>'+product.name+'</td>'+
                  '<td>'+orderItem.quontity+'</td>'+
                  '<td>'+orderItem.total_price+'</td>'+
                  '<td>'+selectHTML+
                  '</td>'+
                  '<td>'+buyer.username+'</td>'+
                  '<td>'+
                    '<button class="btn btn-outline-secondary comment-btn" onclick="'+commentShow+'" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">'+
                      'Комментарии'+
                    '</button>'+
                  '</td>'+
                  '</tr>';
                  $('.table').append(tableItem);
                }
              } catch (error){
                console.log(error);
              }; 
            } catch (error){
              console.log(error);
            }; 
          } catch (error){
            console.log(error);
          }; 
        } catch (error){
          console.log(error);
        }; 
      }
    } catch (error){
      console.log(error);
    }; 
  }

  async function loadClosedOrdders(){
    try{
      const response = await fetch('/api/order_items/?seller='+'{{user.id}}');
      const orderItems = await response.json();
      for(orderItem of orderItems){
        try{
          const response = await fetch('/api/products/'+orderItem.product);
          const product = await response.json();
          try{
            const response = await fetch('/api/order/'+orderItem.order);
            const order = await response.json();
            try{
              const response = await fetch('/api/users/'+order.buyer);
              const buyer = await response.json();
              try{
                const response = await fetch('/api/status/order_items/');
                const statuses = await response.json();
                let statusHTML = '';
                if (orderItem.status > 2){
                  for(const status of statuses){
                    if (status.id == orderItem.status){
                      statusHTML = status.status;
                    }
                  }
                  let commentShow ="commentShow(event,'"+product.name+"', "+orderItem.id+")";
                  let tableItem = '<tr>'+
                  '<td>#'+orderItem.id+'</td>'+
                  '<td><img src="'+product.picture+'" alt="product1"></td>'+
                  '<td>'+product.name+'</td>'+
                  '<td>'+orderItem.quontity+'</td>'+
                  '<td>'+orderItem.total_price+'</td>'+
                  '<td>'+statusHTML+
                  '</td>'+
                  '<td>'+buyer.username+'</td>'+
                  '<td>'+
                    '<button class="btn btn-outline-secondary comment-btn" onclick="'+commentShow+'" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">'+
                      'Комментарии'+
                    '</button>'+
                  '</td>'+
                  '</tr>';
                  $('.table').append(tableItem);
                }
              } catch (error){
                console.log(error);
              }; 
            } catch (error){
              console.log(error);
            }; 
          } catch (error){
            console.log(error);
          }; 
        } catch (error){
          console.log(error);
        }; 
      }
    } catch (error){
      console.log(error);
    }; 
  }

  $(document).on('click', '#closedOrders', function(e){
    e.preventDefault();
    console.log('closed Orders');
    $('.nav-link').removeClass('active');
    $(this).addClass('active');
    $('#title').text('Закрытые Ордера:')
    $('.modal-body').empty();
    let table = '<table class="table">'+
      '<tbody>'+
        '<tr>'+
          '<td><h5>Ордер №</h5></td>'+
          '<td></td>'+
          '<td><h5>Продукт</h5></td>'+
          '<td><h5>Количество (шт)</h5></td>'+
          '<td><h5>Цена</h5></td>'+
          '<td><h5>Статус</h5></td>'+
          '<td><h5>Клиент</h5></td>'+
          '<td></td>'+
        '</tr>'+
      '</tbody>'+
    '</table>';
    $('.modal-body').append(table);
    loadClosedOrdders();
  });

  $(document).on('click', '#products', function(e){
    e.preventDefault();
    console.log('products');
    location.reload();
  });

  {% comment %} function fetchJSON(url){
    return fetch(url)
      .then(response => response.json())
      .catch(error => {
        console.error(error);
        return null;
      });
  } {% endcomment %}

  async function fetchJSON(url){
    try{
    const response = await fetch(url);
    const data = await response.json();
    return data;
    } catch (error){
      console.log(error);
      return null;
    }
  }

  async function commentShow(event, productName, orderItemId){
    event.preventDefault();
    $('#commentTextarea').val('');
    $('.offcanvas-body').empty();
    $('#offcanvasRightLabel').text(productName)
    $('#addComment-btn').data('id', orderItemId);
    try{
      const responseC = await fetch('/api/comments/?order_item='+orderItemId);
      const comments = await responseC.json();
          comments.sort((a, b) =>
            new Date(a.created_at) - new Date(b.created_at));
          for(const comm of comments){
            try{
              const responseU = await fetch('/api/users/'+comm.user);
              const user_obj = await responseU.json();
              console.log(user_obj);
              insertCommentHtml(user_obj, comm);
            } catch (error){
              console.log(error);
            }
          };
    }catch (error){
      console.log(error);
    };
  }; 

  function insertCommentHtml(user, comment){
    let alignItems;
    createdDate = formatDateTime(comment.created_at);
    if (user.id=='{{user.id}}'){
      alignItems='align-items-end';
    }else{
      alignItems='align-items-start';
    }
    let html = '<div class="d-flex '+alignItems+' flex-column">'+
      '<div class="card mb-2" style="width: 18rem;">'+
        '<div class="card-body">'+
          '<h5 class="card-title username">'+user.username+'</h5>'+
          '<h6 class="card-subtitle mb-2 text-body-secondary">'+createdDate+'</h6>'+
          '<p class="card-text">'+comment.text+'</p>'+
        '</div>'+
      '</div>'+
    '</div>';
    $('.offcanvas-body').append(html);
  }

  function addComment(event){
    event.preventDefault();
    let text = $('#commentTextarea').val();
    let button = event.target;
    orderItemId = $(button).data('id');
    $.ajax({
      type: 'POST',
      url: '/api/comments/',
      data:{
        user: '{{user.id}}',
        text: $('#commentTextarea').val(),
        order_item: orderItemId,
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      dataType: 'json',
      success: function(newComment){
        $.ajax({
          type: 'GET',
          url: '/api/users/'+newComment.user,
          success: function(user_obj){
            insertCommentHtml(user_obj, newComment);
          },
          error: function(error){
            console.log(error);
          }
        });
        $('#commentTextarea').val('');
      },
      error: function(error){
        console.log(error)
      }
    });
  };

  function changeSelect(event, orderItemId){
    event.preventDefault();
    let select = event.target;
    let statusOrderItem = $(select).find("option:selected").val();
    let data = {status: statusOrderItem}
    fetch('/api/order_items/'+orderItemId+'/', {
      headers: {
        "X-CSRFToken": '{{ csrf_token }}',
        "Content-Type": "application/json"
      },
      method: 'PATCH',
      credentials: "same-origin",
      body: JSON.stringify(data)
    }).then(res => res.json())
    .then(data => {
      if (Number(data.status) > 2){
        $('#orderItem'+orderItemId).remove();
      };
    })
  };
function formatDateTime(dateTime){
  let dateObject = new Date(dateTime);
  let formattedDate = dateObject.getDate()+'-'+
  ('0'+(dateObject.getMonth()+1)).slice(-2)+'-'+
  dateObject.getFullYear()+' '+
  dateObject.getHours()+':'+
  ('0'+dateObject.getMinutes()).slice(-2);
  return formattedDate
}
</script>
{% endblock %}

