{% extends 'base.html' %}
{% load static %}
{% block title %}
<h1 class="text-center">{{title}} {{ user_obj.get_full_name|default:user_obj.username }}</h1>
{% endblock %}
{% block content %}
<div class="row mx-5">
    <div class="col-md-3">
        <div>
            {% if user_obj.profile.avatar %}
            <img src="{{user_obj.profile.avatar.url}}" style="height: 200px;" alt="">
            {%else%}
            <img src="{% static 'img/avatar.png' %}" style="height: 200px;" alt="">
            {%endif%}
        </div>
    </div> 
    <div class="col-md-6 ms-3">
        <p>Логин: {{user_obj.username}}</p>
        <p>Имя: {{user_obj.first_name}}</p>
        <p>Фамилия: {{user_obj.last_name}}</p>
        <p>Email: {{user_obj.email}}</p>
        <p>Телефон: {{user_obj.profile.phone}}</p>
        <a href="{% url 'user_edit' %}"class="btn btn-outline-secondary">Изменить профиль</a>
        <a href="{% url 'password_change' %}"class="btn btn-outline-secondary ms-4">Сменить пароль</a>
        <a href="{% url 'delivery_edit' %}"class="btn btn-outline-secondary ms-4">Изменить адрес доставки</a>
    </div>
</div>




<h2 class="text-center">Заказы:</h2>
<div class="card m-3 p-2">
    <div class="modal-body">
        <table class="table">
          <tbody>
            <tr>
              <td><h5>Ордер №</h5></td>
              <td></td>
              <td><h5>Продукт</h5></td>
              <td><h5>Количество (шт)</h5></td>
              <td><h5>Цена</h5></td>
              <td><h5>Статус</h5></td>
              <td><h5>Продавец</h5></td>
              <td></td>
            </tr>
            {% for item in order_items %}
            <tr>
              <td>{{item.order.id}}</td>        
              <td><img src="{{item.product.picture}}" alt="product1"></td>
              <td><a href="{% url 'product_details' item.product.pk %}">{{item.product.name}}</a></td>
              <td>{{item.quontity}}</td>
              <td>{{item.total_price}}</td>
              <td>{{item.status}}</td>
              <td>{{item.seller}}</td>
              <td>
                <button class="btn btn-outline-secondary comment-btn" onclick="commentShow(event, '{{item.product.name}}', '{{item.id}}')" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                  Комментарии
                </button>
              </td>
              <td>
                {% comment %} <a class="ms-3" href="{% url 'product_update' product.pk %}?next={{request.get_full_path}}"><i class="fa-solid fa-pen-to-square" style="font-size: 26px;"></i></a>
                <a class="ms-3" href="{% url 'product_delete' product.pk %}?next={{request.get_full_path}}"><i class="fa-solid fa-trash" style="font-size: 26px;"></i></a> {% endcomment %}
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header bg-secondary text-white">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Product name</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

  </div>
  <div class="add-comment m-2">
    <textarea class="form-control" id="commentTextarea" rows="3"></textarea>
    <button class="btn btn-outline-success mt-2" onclick="addComment(event)" id="addComment-btn">Отправить</button>
  </div>
  
</div>
{% endblock %}

{% block script %}
<script>
  async function commentShow(event, productName, orderItemId){
    event.preventDefault();
    $('#commentTextarea').val('');
    $('.offcanvas-body').empty();
    $('#offcanvasRightLabel').text(productName)
    $('#addComment-btn').data('id', orderItemId);
    try{
      const responseC = await fetch('/api/comments/?order_item='+orderItemId);
      const comments = await responseC.json();
          comments.sort((a, b) =>
            new Date(a.created_at) - new Date(b.created_at));
          for(const comm of comments){
            try{
              const responseU = await fetch('/api/users/'+comm.user);
              const user_obj = await responseU.json();
              console.log(user_obj);
              insertCommentHtml(user_obj, comm);
            } catch (error){
              console.log(error);
            }
          };
    }catch (error){
      console.log(error);
    };
  }; 

  function insertCommentHtml(user, comment){
    let alignItems;
    createdDate = formatDateTime(comment.created_at);
    if (user.id=='{{user.id}}'){
      alignItems='align-items-end';
    }else{
      alignItems='align-items-start';
    }
    let html = '<div class="d-flex '+alignItems+' flex-column">'+
      '<div class="card mb-2" style="width: 18rem;">'+
        '<div class="card-body">'+
          '<h5 class="card-title username">'+user.username+'</h5>'+
          '<h6 class="card-subtitle mb-2 text-body-secondary">'+createdDate+'</h6>'+
          '<p class="card-text">'+comment.text+'</p>'+
        '</div>'+
      '</div>'+
    '</div>';
    $('.offcanvas-body').append(html);
  }

  function addComment(event){
    event.preventDefault();
    let text = $('#commentTextarea').val();
    let button = event.target;
    orderItemId = $(button).data('id');
    $.ajax({
      type: 'POST',
      url: '/api/comments/',
      data:{
        user: '{{user.id}}',
        text: $('#commentTextarea').val(),
        order_item: orderItemId,
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      dataType: 'json',
      success: function(newComment){
        $.ajax({
          type: 'GET',
          url: '/api/users/'+newComment.user,
          success: function(user_obj){
            insertCommentHtml(user_obj, newComment);
          },
          error: function(error){
            console.log(error);
          }
        });
        $('#commentTextarea').val('');
      },
      error: function(error){
        console.log(error)
      }
    });
  };
  function formatDateTime(dateTime){
    let dateObject = new Date(dateTime);
    let formattedDate = dateObject.getDate()+'-'+
    ('0'+(dateObject.getMonth()+1)).slice(-2)+'-'+
    dateObject.getFullYear()+' '+
    dateObject.getHours()+':'+
    ('0'+dateObject.getMinutes()).slice(-2);
    return formattedDate
  }
</script>
{% endblock %}