{% extends 'base.html' %}

{%block content%}
<div class="container my-3">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-lg-6">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    Изменение профайла
                </div>     
                <div class="p-2">
                    <form action="{% url 'user_edit' %}" method="POST" enctype="multipart/form-data">
                        {%csrf_token%}
                        {% include 'partials/user_forms.html' with form=form fields_only=True %}
                        {% include 'partials/user_forms.html' with form=profile_form fields_only=True %}
                        <button type="submit" class="btn btn-primary my-3">Обновить</button>
                    </form>
                </div>  
            </div>
        </div>
    </div>
</div>
{%endblock%}