{% extends 'base.html' %}
{% load static %}

{% block title %}
<h1 class="text-center"> Избранное </h1>
{% endblock %}

{% block content%}
{%if products%}
<div class="card m-3 p-2">
    <div class="modal-body">
        <table class="table">
          <tbody>
            <tr>
              <td></td>
              <td><h5>Продукт</h5></td>
              <td><h5>Цена</h5></td>
              <td></td>
              <td></td>
            </tr>
{%endif%}
            {% for product in products %}
            <tr>        
              <td><img src="{{product.picture}}" alt="product1"></td>
              <td><a href="{% url 'product_details' product.pk %}">{{product.name}}</a></td>
              <td>{{product.price}}</td>
              <td><button type="button" onclick="cartClick(event, {{product.pk}})" class="btn btn-outline-secondary m-2">В корзину</button></td>
              <td><i class="btn fa-solid fa-heart" onclick="favoriteClick(event, {{product.pk}})" data-id="{{product.pk}}" style="font-size: 26px; color: red;"></i></td>
            </tr>
            {%empty%}
            <h5 class="text-center">В избранном ничего нет</h5>
            {%endfor%}
          </tbody>
        </table>
    </div>
</div>


{%endblock%}

{% block script %}
<script src="{% static 'js/add-to-cart.js' %}"></script>


{% endblock %}