{% extends 'base.html' %}
{% load static %}

{% block content%}
<div class="card mb-3" style="max-width: fit-fluid;">
    <div class="row g-0">
      <div class="col-md-4 product-detail-view">
        <img src="{{ product.picture }}" class="img-fluid rounded-start" alt="product">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{product.seller}}</p>
          <p class="card-text">{{product.category}}</p>
          <p class="card-text">Количество в продаже: {{product.quontity}} шт.</p>
          <p class="product-price">т {{product.price}}</p>
          <p class="card-text">{{product.description| linebreaks}}</p>
          <p class="card-text"><small class="text-body-secondary">Добавлено {{product.created_at}}</small></p>
        </div>
        <div class="product-links" style="font-size: 28px;">
          <button type="button" onclick="cartClick(event, {{product.pk}})" class="btn btn-secondary m-2">В корзину</button>
          <button type="submit" class="btn btn-primary">Купить сейчас</button>
          {%if perms.my_shop.change_product and request.user.profile.is_approved and request.user.id == product.seller.id%}
          <a class="ms-3" href="{% url 'product_update' product.pk %}?next={{request.get_full_path}}"><i class="fa-solid fa-pen-to-square"></i></a>
          {%endif%}
          {%if perms.my_shop.delete_product and request.user.profile.is_approved and request.user.id == product.seller.id%}
          <a class="ms-3" href="{% url 'product_delete' product.pk %}"><i class="fa-solid fa-trash"></i></a>
          {%endif%}
        </div>
      </div>
    </div>
  </div>
{%endblock%}

{% block script %}
<script src="{% static 'js/add-to-cart.js' %}"></script>


{% endblock %}