{% extends 'base.html' %}
{% load static %}

{% block content%}
<section class="main-content">
  <div class="container">
    <div class="row">
      {% include 'partials/pagination.html' %}
      {% for product in products %}
      <div class="col-lg-4 col-sm-6">
        <div class="product-card border mb-3">
          <div class="product-thumb">
            <a href="{% url 'product_details' product.id %}"><img src="{{ product.picture }}" alt="product"></a>
          </div>
          <div class="product-details">
            <h4><a href="{% url 'product_details' product.id %}">{{product.name}}</a></h4>
            <p>{{product.category}}</p>
            <div class="product-bottom-details  d-flex justify-content-between">
              <div class="product-price">
                т {{product.price}}
              </div>
              <div class="product-links">
                  <i class="btn fa-solid fa-cart-shopping" data-id="{{product.pk}}" style="font-size: 26px; color: black;"></i></a>
                  {% if product in user.profile.favorites.all %}
                  <i class="btn fa-solid fa-heart" data-id="{{product.pk}}" style="font-size: 26px; color: red;"></i>
                  {%else%}
                  <i class="btn fa-solid fa-heart" data-id="{{product.pk}}" style="font-size: 26px; color: black;"></i>
                  {% endif %}
                </div>
            </div>
          </div>
        </div>
      </div>
      
      {% endfor %}
      {% include 'partials/pagination.html' %}
</section>
{%endblock%}

{% block script %}
<script src="{% static 'js/add-to-favorite.js' %}">
</script>
{% endblock %}