{% extends 'base.html' %}
{% load static %}

{% block content%}
<div class="container my-3" style="width: 100%; height: 500px;">
    <div class="row justify-content-center">
        <div class="col-8 col-sm-8 col-lg-6">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    Подтверждение
                </div>     
                <div class="p-2">
                    <p>Вы уверены что хотите удалить категорию <i>"{{ category.name }}"</i>?</p>
                    <form action="{% url 'category_delete' category.id  %}" method="POST">
                        {% csrf_token %}
                        <a href="{% url 'home_page' %}" class="btn btn-secondary">Отмена</a>
                        <button type="submit" class="btn btn-primary">Подтверждаю</button>
                </form>
            </div>  
        </div>
    </div>
</div>
    
</div>
{%endblock%}