{% extends 'base.html' %}

{%block content%}
<div class="container my-3">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-lg-6">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                    Плдтверждение Адреса Доставки
                </div>     
                <div class="p-2">
                    {% include 'partials/user_forms.html' with form=form fields_only=True %}
                    <button type="submit" id="approve" class="btn btn-primary my-3">Подвердить и Оплатить</button>
                </div>  
            </div>
        </div>
    </div>
</div>
{%endblock%}

{% block script %}
<script>
    $(document).on('click', '#approve', function(e){
        e.preventDefault();
        let city = $('#id_city').val();
        let street = $('#id_street').val();
        let home = $('#id_home').val();
        let appart = $('#id_appart').val();
        console.log(appart);
        $.ajax({
          type: 'POST',
          url: '{% url "complete_order" %}',
          data: {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              city : $('#id_city').val(),
              street : $('#id_street').val(),
              home: $('#id_home').val(),
              appart: $('#id_appart').val(),  
          },
          dataType: 'json',
          success: function(response){
              console.log(response.status);
              window.location.href = "{% url 'payment_success' %}";
          },
          error: function(error, status){
              console.log(error);
              window.location.href = "{% url 'payment_fail' %}";
         }
    })
   }); 
</script>
{%endblock%}