{% extends 'base.html' %}
{% load static %}

{% block content%}

{% include 'partials/carousel.html' %}

<!-- ____________MAIN_______ -->
<section class="main-content">
  <div class="container">
    <div class="row">

      {% for category in categories %}
      <div class="col-lg-4 col-sm-6">
        <div class="product-card border mb-3">
          <div class="product-thumb">
            <a href="{% url 'product_category_list' category.pk %}"><img src="{{category.picture}}" alt="category"></a>
          </div>
          <div class="product-details">
            <h4><a href="{% url 'product_category_list' category.pk %}">{{category.name}}</a></h4>
            <p>{{category.description}} {{user.profile.phone}}</p>
            <div class="product-bottom-details  d-flex justify-content-between">
              <div class="product-price">
                Количество: {{category.products.count}} шт 
              </div>
              <div class="product-links">
                <a href="{% url 'category_update' category.id %}"><i class="fa-solid fa-pen-to-square"></i></i></a>
                <a href="{% url 'category_delete' category.id %}"><i class="fa-solid fa-trash"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>
{%endblock%}