{% extends 'base.html' %}
{% load static %}
{% block content%}
<div class="card m-3 p-2">
    <div class="modal-body">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">ID</th>
              <td></td>
              <td>Продукт</td>
              <td>Цена</td>
              <td>Количество</td>
            </tr>
            {% for item in cart %}
            <tr>        
              <th scope="row">{{item.product.id}}</th>
              <td><img src="{{item.product.picture}}" alt="product1"></td>
              <td><a href="{% url 'product_details' item.product.id %}">{{item.product.name}}</a></td>
              <td>{{item.price}}</td>
              <td>{{item.quontity}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
        <p class="total-price">Итого: {{total}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Вернуться</button>
        <button type="button" class="btn btn-primary">Оформить заказ</button>
    </div>
</div>


{%endblock%}